<mat-toolbar color='primary' class="background-dark mat-elevation-z8"
	style="padding: 1rem; position: fixed; z-index: 100; height: 56px; justify-content: space-between;">
	<div style="display: flex; align-items: center;">
		<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
			*ngIf="isHandset$ | async">
			<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
		</button>
		Movie Review
	</div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
		<mat-nav-list>
			<mat-list-item></mat-list-item>
			<mat-list-item>
				<mat-icon matListIcon>person</mat-icon>
				<a matLine>Person</a>
			</mat-list-item>
			<mat-list-item (click)="closeSideNav()" [routerLink]="['/']">
				<mat-icon matListIcon>home</mat-icon>
				<a matLine>Home</a>
			</mat-list-item>
			<mat-list-item (click)="logout(); closeSideNav()">
				<mat-icon matListIcon>logout</mat-icon>
				<a matLine>Log Out</a>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content style="width: 100%;">
		<div class="body">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>