<div style="display: flex; flex-direction: column;">
	<div>
		<div class="star-rating" [id]='starRatingId' (click)="setRating()" (mouseover)="hover($event)">
			<div class="back-stars" [id]='backStarId'>
				<mat-icon>star</mat-icon>
				<mat-icon>star</mat-icon>
				<mat-icon>star</mat-icon>
				<mat-icon>star</mat-icon>
				<mat-icon>star</mat-icon>

				<div class="front-stars" [id]='frontStarId' [style.width.%]='frontStarWidth'>
					<mat-icon>star</mat-icon>
					<mat-icon>star</mat-icon>
					<mat-icon>star</mat-icon>
					<mat-icon>star</mat-icon>
					<mat-icon>star</mat-icon>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="myRating > 0">
		<button mat-flat-button color='warn' (click)="deleteRating()">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</div>