.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}


.footer {
  text-align: center;
  display: flex;

  button {
    flex: 1;
    margin: 0.5em;
    padding: 0.5em;
  }
}
