.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}


.footer {
  text-align: center;
  display: flex;

  button {
    flex: 1;
    margin: 0.5em;
    padding: 0.5em;
  }
}
